*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    font-family: 'Share Tech Mono', monospace;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    background: center url("https://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/278450855_3188233774748772_2522812094317164180_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=e3f864&_nc_ohc=uuWY6ufim_MAX_TIE8d&_nc_ht=scontent-qro1-2.xx&oh=00_AT8i5zaiHzRokziZRSS9GoYByji7Dvsxm5d0lX14rKC6pA&oe=632D2C75") ;
    
}
.countdown{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    flex-wrap: wrap;
}
.countdown div{
    display: grid;
    place-items: center;
    padding: 10px;
}
h1{
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding: 30px 10px;
}
p{
    display: grid;
    place-items: center;
    border: solid 1px #fff;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    background-color: #ff748c;
}
span{
    display: block;
    padding: 10px;
    text-align: center;
    color: #000000;
    font-size: 1.5rem;
    font-weight: 700;
}
.final-sms{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    transform: translateY(-100%);
    transition: ease-in-out 0.5s;
    background-color: #333;
}
.final-sms h2{
    text-align: center;
    font-size: 100px;
    color: #fff;
}